<!-- <div class="container">
  <app-listemployees></app-listemployees>
</div> -->
<!-- <div class="container">
<nav class="navbar navbar-default shadow form-holder">
  <ul class="nav navbar-nav ">
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="list">List</a>
    </li>
    <li>
      <a routerLink="create">Create</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Myform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">Create</a>
        </li>
      </ul>

    </div>
  </nav>
  <router-outlet></router-outlet>